{% extends "base.html" %}
{% block title %}Contact{% endblock title %}Home
{% block body  %}
 <div class="container-fluid px-0">
    <img src="https://loremflickr.com/1200/400/computers?random=1" class="d-block w-100 mx-0" style="height: 500px" alt="phone">
 </div>
 <div class="container mb-3">
    <h1 class=text-center>Contact Us</h1>
    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        
        </div>

        <br></br>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email">
        
        </div>

        <br></br>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your Phone Number">
        
        </div>

        <br></br>
        <div class="form-group">
            <label for="desc">Tell me about what you want to contact me for...</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        
        </div>
        <br></br>
    <button class="btn btn-primary" type="submit">Submit</button>
  
</form>
</div>

{% endblock body %}
